.moviesFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.moviesFormTitle {
  margin: 20px 0;
  text-transform: capitalize;
}

.moviesForm {
  width: 300px;
}

.moviesFormInput {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 0;
}
